.experience__container {
    display: flex;
    flex-wrap: wrap;
}


.experience__container > div {
    flex: 1;
    width: 50%;
    background: var(--color-bg-variant);
    padding: 0.9rem 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    margin: 10px;
}

.experience__container > div:hover {
    background: transparent;
    background-color: var(--color-primary-variant);
}

.experience__container > div h3 {
    text-align: center;
    color: var(--color-primary);
}

.experience__container > div h5 {
    margin: 1rem 0 1rem 0;
    color: var(--color-primary);
}

.skill_content {
    display: flex;
    flex-wrap: wrap;
}

.experience_article {
    display: flex;
    gap: 1rem;
}

.skill_icon {
    margin: 5px;
    color: var(--color-primary);
}
/* 
@media screen and (max-width: 1024px){
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px){
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        margin: 0 auto;
        padding: 2rem 1rem;
    }

} */