.contact__container {
    display: flex;
    flex-wrap: wrap;
}

.contact_contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_content {
    flex: 1;
    width: fit-content;
    margin: 10px;
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    padding: 1rem;
    text-align: center;
}

.contact_content > h3, .contact_content > .contact_link {
    margin: 5px auto;
}

.contact_contents > .contact_content:hover {
    background: transparent;
    background-color: var(--color-primary-variant);
}


.contact_link {
    text-decoration: none;
    color: var(--color-primary);
}


input[type="text"], input[type="email"], textarea {
    padding: 1rem;
    background-color: var(--color-bg-variant);
    border: 2px solid var(--color-primary-variant);
    border-radius: 0.4rem;
    display: block;
    margin: 1rem auto;
    width: 75%;
    color: var(--color-white);
    min-width: 10rem;
}