.header {
    width: 100vw;
    background-image: linear-gradient(45deg, var(--color-primary-variant), var(--color-primary));
    display: flex;
    flex-wrap: wrap;
    place-items: center;
}

.header_content1 {
    margin-left: 2rem;
    font-size: 3rem;
    color: var(--color-black);
}

.header_content1 > a > img {
    width: 3.5rem;
    margin-top: 1rem;
}

.header_content2 {
    flex: 4;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 4rem;
}

.resume {
    text-decoration: none;
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: 4rem;
    padding: 0.5rem;
}

.resume:hover {
    background-color: var(--color-black);
}

@media screen and (max-width: 600px){
    .header_content2 {
        flex: 4;
        font-size: 1rem;
        text-align: right;
        margin-right: 2rem;
    }
}
