nav {
    background: rgba(0, 0, 0, 0.7);
    width: max-content;
    padding: 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    border-radius: 3rem;
}

nav .link {
    background: transparent;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav .link-current {
    background: transparent;
    border-radius: 50%;
    display: flex;
    color: var(--color-primary);
    font-size: 1.8rem;
    transition: color 0.5s, font-size 1s;
}
